*.txt
day10/day10AI.py
day10/day10Part1.py
day10/day10Part2.py
day11/day11Part1.py
day11/day11Part2.py
day12/day12Part1.py
day1/__pycache__/day1.cpython-311.pyc
day3/__pycache__/day3.cpython-311.pyc
day4/__pycache__/day4.cpython-311.pyc
day5/__pycache__/day5.cpython-311.pyc
day6/__pycache__/day6.cpython-311.pyc
day7/__pycache__/day7.cpython-311.pyc
day8/__pycache__/day8.cpython-311.pyc
day3/day3Part1.py
day3/day3Part2.py
day4/day4Part1.py
day4/day4Part2.py
day5/day5Part1.py
day5/day5Part2.py
day6/day6Part1.py
day6/day6Part2.py
day7/day7Part1.py
day7/day7Part1AI.py
day7/day7Part2.py
day7/day7Part2AI.py
day8/day8Part1.py
day8/day8Part2.py
day9/day9Part1.py
day9/day9Part2.py
*.pyc
